<nav class="navbar navbar-expand-lg custom-header py-4">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/navbar/dev-econ.svg" alt="Logo" height="60">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav font-tt-supermolot">
          <li class="nav-item mx-5">
            <a class="nav-link text-black" href="#">Item 1</a>
          </li>
          <li class="nav-item mx-5">
            <a class="nav-link text-black" href="#">Item 2</a>
          </li>
          <li class="nav-item mx-5 ">
            <a class="nav-link text-black" href="#">Item 3</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  